:ruby
  title = "Automatic Bitcoin Broker"
!!!
%html
  %head
    %title= title
    %link{ rel: "stylesheet", href: "/css/main.css" }
  %body{ class: body_class }
    .right
      %p Welcome #{current_user.username}!
      %p Balance:
      %p BTC: #{current_user.balance_btc_ui}
      %p USD: #{"%.2f" % current_user.balance_usd_ui}
      %a.btn{ href: "#" } log out

    %h1= title
    %nav
      - nav_link "/",          "Home"
      - nav_link "/deposit",   "Deposit"
      - nav_link "/sell",      "Sell"
    %section.main
      = yield